html, 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0E2136;
    color: whitesmoke;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem;
    user-select: none;
    height: 100vh;
}

header{
    display: flex;
    align-items: end;
    justify-content: right;
}
header input{
    width: 2.5rem;
    padding:  0 1em;
}
input{
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    border: none;
    color: whitesmoke;
}

input:focus{
    outline: none;
}

input#pxValueInput{
    text-align: center;
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: whitesmoke solid .2em;
}

div.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

div.wrapper  p:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all .2s;
}

p{
    margin: 0;
}

footer{
    text-align: center;
    font-size: .75rem;
    position: fixed;
    bottom: .5em;
    right: 50%;
}